[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Unofficial desktop client for Facebook Messenger
Exec=facebook-messenger-desktop %U
Icon=com.facebook.messenger.desktop
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging;Chat;
Keywords=messenger;facebook;chat;im;instant;messaging;
StartupWMClass=Messenger
